---
import Base from "../layouts/Base.astro";
import ErrorDisplay from "../components/ErrorDisplay.astro";
import PickModal from "../components/PickModal.astro";
export const prerender = false;

Astro.response.status = 404;
Astro.response.headers.set("Cache-Control", "no-store");

const { token } = Astro.locals;
---

<Base title="404 - Page Not Found">
  <div class="flex flex-col items-center justify-center text-center">
    <ErrorDisplay
      code={404}
      title="This Scene Was Cut!"
      message={token
        ? "Not sure what you were looking for, but maybe we can find something worth watching instead."
        : "Oops! The media or page you are looking for has scrobbled away. It might have been deleted, renamed, or never existed."}
      glowColor="blue"
      gradientClasses="from-blue-500 via-indigo-400 to-purple-500"
      showReload={false}
    />

    <PickModal token={token} />
  </div>
</Base>
